<nav class="navbar navbar-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="">
      <fa-icon [icon]="faUser" id="userIcon" style="cursor: pointer;"></fa-icon>
    </a>

    <button id="btn-toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideBar" style="cursor: pointer;" aria-expanded="true" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>

<div class="slide" id="sideBar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <span><img src="assets\img\ford.png" alt="logo da ford" class="logo-menu"></span>
    </li>
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboardPage" class="nav-link">Dashboard</a>
    </li>
  </ul>
</div>


