<app-header></app-header>
<h1 class="text-center">Dashboard FORD</h1>

<div class="container">

  <div class="row">

    <div class="card text-bg-light mb-3 col" style="width: 18rem;">
      <div class="card-header title">Veículo</div>
      <div class="card-body">
        <select (change)="ChangeInfo($event)">
          <option> -- Select --</option>
          <option [value]="vehicle.id" *ngFor="let vehicle of vehicleList">
            {{ vehicle.vehicle }}
          </option>
        </select>
      </div>
    </div>

    <div class="card text-bg-light mb-3 col" style="width: 18rem;">
      <div class="card-header title">Total de Vendas</div>
      <div class="card-body">
        <span id="totalVendas">

        </span>
        <p>Unid.</p>
      </div>
    </div>

    <div class="card text-bg-light mb-3 col" style="width: 18rem;">
      <div class="card-header title">Conectados</div>
      <div class="card-body">
        <span id="connected">

        </span>
        <p>Unid.</p>
      </div>
    </div>

    <div class="card text-bg-light mb-3 col" style="width: 18rem;">
      <div class="card-header title">Update Software</div>
      <div class="card-body">
        <span id="updateSoftware">

        </span>
        <p>Unid.</p>
      </div>
    </div>
  </div>
</div>

<!-- image -->
<div class="text-center">
  <img src="assets\img\mustang.png" id="image">
</div>

<!-- table -->
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código - Vin</th>
          <th scope="col">Odômetro</th>
          <th scope="col">Nível de Combustivel</th>
          <th scope="col">Status</th>
          <th scope="col">Lat.</th>
          <th scope="col">Long.</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">
            <input type="text" name="search" id="search" [(ngModel)]="searchValue" placeholder="2FRHDUYS2Y63NHD22454" #table="ngModel" (keyup)="press($event)">
          </th>

          <div *ngIf="searchValue !== '2FRHDUYS2Y63NHD22454' && searchValue !== '2RFAASDY54E4HDU34874' && searchValue !== '2FRHDUYS2Y63NHD22455' && searchValue !== '2RFAASDY54E4HDU34875' && searchValue !== '2FRHDUYS2Y63NHD22654' && searchValue !== '2FRHDUYS2Y63NHD22854' ; else searchResult">
            <p>Insira um código VIN válido</p>
          </div>

          <ng-template #searchResult>
                <td *ngFor="let odometer of vehicleData | searchfilter: searchValue" > {{ odometer.odometer }} Km </td>

                <td *ngFor="let fuelLevel of vehicleData | searchfilter: searchValue"> {{ fuelLevel.fuelLevel }} % </td>

                <td *ngFor="let status of vehicleData | searchfilter: searchValue"> {{ status.status }} </td>

                <td *ngFor="let lat of vehicleData | searchfilter: searchValue"> {{ lat.lat }} </td>

                <td *ngFor="let long of vehicleData | searchfilter: searchValue"> {{ long.long }} </td>
          </ng-template>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>



    </table>
</div>


<div class="container">
  <select>
    <option *ngFor="let vin of vehicleData">
      {{ vin.vin }}
    </option>
  </select>
</div>
