<app-header></app-header>
<h1 class="text-center">Dashboard FORD</h1>

<div class="container">

  <div class="container">
    <div class="row">
      <div class="card text-bg-light mb-3 col" style="width: 18rem;">
        <div class="card-header title">Veículo</div>
        <div class="card-body">
          <select (change)="ChangeInfo($event)">
            <option> -- Select --</option>
            <option [value]="vehicle.id" *ngFor="let vehicle of vehicleList">
              {{ vehicle.vehicle }}
            </option>
          </select>
        </div>
      </div>

      <div class="card text-bg-light mb-3 col" style="width: 18rem;">
        <div class="card-header title">Total de Vendas</div>
        <div class="card-body">
          <span id="totalVendas">

          </span>
          <p>Unid.</p>
        </div>
      </div>

      <div class="card text-bg-light mb-3 col" style="width: 18rem;">
        <div class="card-header title">Conectados</div>
        <div class="card-body">
          <span id="connected">

          </span>
          <p>Unid.</p>
        </div>
      </div>

      <div class="card text-bg-light mb-3 col" style="width: 18rem;">
        <div class="card-header title">Update Software</div>
        <div class="card-body">
          <span id="updateSoftware">

          </span>
          <p>Unid.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="message-center card-body hidden">
    <fa-icon id="close" [icon]="faClose" (click)="close()"></fa-icon>

    <form class="row g-3 form-ajust" #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
      <div class="col-auto">
        <label for="vin">Cadastre a descrição do carro</label>
        <input type="text" readonly class="form-control-plaintext" id="vin" placeholder="Verifique as informações antes de submiter">
      </div>
      <div class="col-auto">
        <label for="vin">Código - Vin</label>
        <input type="text" class="form-control" id="vin" placeholder="Vin" ngModel name="vin">
      </div>
      <div class="col-auto">
        <label for="odometer">Odômetro</label>
        <input type="text" class="form-control" id="odometer" placeholder="Odometer" ngModel name="odometer">
      </div>
      <div class="col-auto">
        <label for="tirePressure">Pressão do Pneu</label>
        <input type="text" class="form-control" id="tirePressure" placeholder="Tire Pressure" ngModel name="tirePressure">
      </div>
      <div class="col-auto">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" placeholder="Status" ngModel name="status">
      </div>
      <div class="col-auto">
        <label for="batteryStatus">Status da Bateria</label>
        <input type="text" class="form-control" id="batteryStatus" placeholder="Battery Status" ngModel name="batteryStatus">
      </div>
      <div class="col-auto">
        <label for="fuelLevel"> Nível do Combustível </label>
        <input type="text" class="form-control" id="fuelLevel" placeholder="Fuel Level" ngModel name="fuelLevel">
      </div>
      <div class="col-auto">
        <label for="lat"> Lat </label>
        <input type="text" class="form-control" id="lat" placeholder="Lat" ngModel name="lat">
      </div>
      <div class="col-auto">
        <label for="long"> Long </label>
        <input type="text" class="form-control" id="long" placeholder="Long" ngModel name="long">
      </div>

      <div class="col-auto btn-auto">
        <button type="submit" class="btn-register confirm">Confirmar Cadastro</button>
      </div>
    </form>
  </div>

  <!-- image -->
<div class="text-center">
  <img src="assets\img\mustang.png" id="image">
</div>

<!-- table -->
<button class="btn-register" (click)="register()">Cadastrar</button>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código - Vin</th>
          <th scope="col">Odômetro</th>
          <th scope="col">Nível de Combustivel</th>
          <th scope="col">Status</th>
          <th scope="col">Lat.</th>
          <th scope="col">Long.</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">
            <input type="text" name="search" id="search" [(ngModel)]="searchValue" placeholder="2FRHDUYS2Y63NHD22454" #table="ngModel" (keyup)="press($event)">
          </th>

          <div *ngIf="searchValue !== '2FRHDUYS2Y63NHD22454' && searchValue !== '2RFAASDY54E4HDU34874' && searchValue !== '2FRHDUYS2Y63NHD22455' && searchValue !== '2RFAASDY54E4HDU34875' && searchValue !== '2FRHDUYS2Y63NHD22654' && searchValue !== '2FRHDUYS2Y63NHD22854' ; else searchResult">
            <p>Insira um código VIN válido</p>
          </div>

          <ng-template #searchResult>
                <td *ngFor="let odometer of vehicleData | searchfilter: searchValue" > {{ odometer.odometer }} Km </td>

                <td *ngFor="let fuelLevel of vehicleData | searchfilter: searchValue"> {{ fuelLevel.fuelLevel }} % </td>

                <td *ngFor="let status of vehicleData | searchfilter: searchValue"> {{ status.status }} </td>

                <td *ngFor="let lat of vehicleData | searchfilter: searchValue"> {{ lat.lat }} </td>

                <td *ngFor="let long of vehicleData | searchfilter: searchValue"> {{ long.long }} </td>
          </ng-template>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>



    </table>
</div>

  <!-- <select>
    <option *ngFor="let vin of vehicleData">
      {{ vin.vin }}
    </option>
  </select> -->

</div>
