<app-header></app-header>
<h1 class="text-center">Dashboard FORD</h1>

<div class="container">
  <div class="row">
    <div class="col">
        <div class="title">
          <p>Veículo</p>
        </div>
        <select (change)="ChangeInfo($event)">
          <option> -- Select --</option>
          <option [value]="vehicle.id" *ngFor="let vehicle of vehicleList">
            {{ vehicle.vehicle }}
          </option>
        </select>
    </div>
    <div class="col">
      <div class="title">
        <p>Total de Vendas</p>
      </div>
      <span id="totalVendas">

      </span>
      <p>Unid.</p>
    </div>
    <div class="col">
      <div class="title">
        <p>Conectados</p>
      </div>
      <span id="connected">

      </span>
      <p>Unid.</p>
    </div>
    <div class="col">
      <div class="title">
        <p>Update Software</p>
      </div>

      <span id="updateSoftware">


      </span>
      <p>Unid.</p>
    </div>
  </div>
</div>

<!-- image -->
<div class="text-center">
  <img src="assets\img\mustang.png" id="image">
</div>

<!-- table -->
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código - Vin</th>
          <th scope="col">Odômetro</th>
          <th scope="col">Nível de Combustivel</th>
          <th scope="col">Status</th>
          <th scope="col">Lat.</th>
          <th scope="col">Long.</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><input type="text" name="search" id="search" [(ngModel)]="searchValue" placeholder="2FRHDUYS2Y63NHD22454" #table="ngModel" (keyup)="press($event)"></th>

          <!-- <ng-template *ngIf="searchValue  === '2FRHDUYS2Y63NHD22454' "> -->
                <td *ngFor="let vehicleData of vehicleDataList | searchfilter: searchValue" > {{ vehicleData.odometer }} Km </td>

                <td *ngFor="let vehicleData of vehicleDataList | searchfilter: searchValue"> {{ vehicleData.fuelLevel }} % </td>

                <td *ngFor="let vehicleData of vehicleDataList | searchfilter: searchValue"> {{ vehicleData.status }} </td>

                <td *ngFor="let vehicleData of vehicleDataList | searchfilter: searchValue"> {{ vehicleData.lat }} </td>

                <td *ngFor="let vehicleData of vehicleDataList | searchfilter: searchValue"> {{ vehicleData.long }} </td>
          <!-- </ng-template> -->
        </tr>
      </tbody>

      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>



    </table>
</div>
